.ui-pagina-tienda {
  min-block-size: 100svh;
}
.ui-pagina-tienda--sin-cabecera-movil > .ui-header {
  display: none;
}
@media (min-width: 64rem) {
  .ui-pagina-tienda--sin-cabecera-movil > .ui-header {
    display: block;
  }
}
