.ui-rejilla-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--espacio-4);
}
@media (min-width: 40rem) {
  .ui-rejilla-productos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 64rem) {
  .ui-rejilla-productos {
    grid-template-columns: repeat(4, 1fr);
  }
}
